<!DOCTYPE html>
<html>
<head>
	<#include "../layout/header.html">
    <style>
    </style>
</head>
<body>
	<div class="layuimini-container">
		<div class="layuimini-main">
			<!--搜索栏-->
			<fieldset class="layui-elem-field layuimini-search">
				<legend>搜索信息</legend>
	            <div class="layui-field-box">
			        <form class="layui-form">
			            <div class="layui-inline">
	                        <label class="layui-form-label">用户名</label>
	                        <div class="layui-input-inline">
	                            <input type="text" name="username" autocomplete="off" class="layui-input">
	                        </div>
	                    </div>
	                    
	                        
	                    <div class="layui-inline">
	                        <a class="layui-btn" lay-submit="" lay-filter="data-search-btn">搜索</a>
	                    </div>
	                    <#list buttons?sort_by("sort") as item>
	                    <#if item.area == 1>
	                    <div class="layui-inline">
				                <a class="layui-btn ${item.css}" data-type="${item.event}">${item.name}</a>
				        </div>
	                    </#if>
	                    </#list>
	                    
				        
	                    
			            
			        </form>
			    </div>
	           
			</fieldset>
		    
			
	        
			<div class="layui-form">
				<!--  
				<table class="layui-hide" id="oTable" lay-filter="oList">
				</table>
				-->
				<table class="layui-table" lay-data="{cellMinWidth:${table.cellMinWidth},url:'${table.url.url}',page:true,id:'oTable',limit:15,toolbar:'#oToolbar'}" lay-filter="oList">
					<thead>
				    <tr>
				    	<#list table.cols?sort_by("fieldsort") as item>
				    		<#if item_index == 0>
				    			<th lay-data="{type:'${item.type}', fixed: '${item.fixed}'}"></th>
				    		</#if>
				    		
				    		<#if item_index gt 0 && item_index+1 lt table.cols?size >
				    			<#if item.width??>
				    			    <#if item.templet??>
				    			    	<th lay-data="{field: '${item.field}', width:${item.width},sort:true,templet:'${item.templet}'}">${item.title}</th>
				    			    <#else>
				    			    	<th lay-data="{field: '${item.field}', width:${item.width},sort:true}">${item.title}</th>
				    			    </#if>
				    				
				    			<#else>
				    				<#if item.templet??>
				    			    	<th lay-data="{field: '${item.field}',sort:true,templet:'${item.templet}'}">${item.title}</th>
				    			    <#else>
				    			    	<th lay-data="{field: '${item.field}',sort:true}">${item.title}</th>
				    			    </#if>
				    				
				    			</#if>

				    		</#if>
				    		
				    		<#if item_index+1=table.cols?size>
				    			<th lay-data="{fixed: 'right', minWidth:${item.minWidth}, align:'center', toolbar: '#oBar'}">操作</th>
				    		</#if>
				    	</#list>
				    </tr>
				  	</thead>
				</table>
				<#list templets as item>
				<script type="text/html" id="${item.id}">
					<#list item.values?keys as key>
					{{#  if(d["${item.field}"]==${key}){ }}
						<span class="layui-badge layui-bg-gray">${item.values["${key}"]}</span>
					{{#  } }}
					</#list>
        			
    			</script>
				</#list>
				
				
				<script type="text/html" id="oToolbar">
   					<div class="layui-btn-container">
						<#list buttons?sort_by("sort") as item>
	                    <#if item.area == 2>
	                  
							<button class="layui-btn ${item.css}" lay-event="${item.event}">${item.name}</button>

	                    </#if>
	                    </#list>
						
					</div>
				</script>
				
				<script type="text/html" id="oBar">
					<#list buttons?sort_by("sort") as item>
					<#if item.area == 3>
						<a class="layui-btn layui-btn-xs ${item.css}" lay-event="${item.event}">${item.name}</a>
					</#if>
					</#list>
                </script>
			</div>
			
	        
	        
		
		</div>
	</div>

	<script type="text/javascript" src="${request.contextPath}/static/js/lib/layui/layui.js"></script>
	<script type="text/javascript" src="${request.contextPath}/static/js/config.js"></script>

	<!--  
	<script type="text/javascript" th:src="@{/static/js/system/user.js}"></script>-->
	<script type="text/javascript">
	layui.config({
		base : $config.context+"/static/js/extends/",
		version : true
	}).extend({
		"tool" : "tool",
		"api" : "api"
	}).use([ 'element', 'layer' ,'api',"table","form"], function() {
		var $ = layui.jquery, element = layui.element, layer = layui.layer,
	    api = layui.api,
	    table = layui.table,
        form = layui.form;
		
		var active={
	            add : function(){
	            	addIndex = layer.open({
	                    title : "添加",
	                    type : 2,
	                    content : '${request.contextPath}/studio/add.html',
	                    area: ['80%', '80%'],
	                    maxmin: true,
	                    success : function(layero, addIndex){
	                        setTimeout(function(){
	                            layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
	                                tips: 3
	                            });
	                        },500);
	                    }
	                });
	            },
	            delBatch : function(){
	            	var checkStatus = table.checkStatus('oTable'),
                    data = checkStatus.data;
	                if(data.length > 0){
	                    console.log(JSON.stringify(data));
	                    //layer.msg(JSON.stringify(data));
	                    
	                    layer.confirm("你确定要删除这些数据么？",{btn:['是的,我确定','我再想想']},
	                        function(){
	                            var deleteindex = layer.msg('删除中，请稍候',{icon: 16,time:false,shade:0.8});
	                            $.ajax({
	                                type:"DELETE",
	                                url:api.deleteBatchUserUrl,
	                                dataType:"json",
	                                contentType:"application/json",
	                                data:JSON.stringify(data),
	                                success:function(res){
	                                    layer.close(deleteindex);
	                                    if(res.code==0){
	                                        layer.msg("删除成功",{time: 1000},function(){
	                                        	location.reload();
	                                        });
	                                    }else{
	                                        layer.msg(res.message);
	                                    }
	                                }
	                            });
	                        }
	                    )
	                }else{
	                    layer.msg("请选择需要删除的行",{time:1000});
	                }
	            }
	        };
		
		$('.layui-inline .layui-btn').on('click', function(){
	        var type = $(this).data('type');
	        active[type] ? active[type].call(this) : '';
	    });
		
		form.on('submit(data-search-btn)', function (data) {
			var result = JSON.stringify(data.field);

	        //执行搜索重载
	        table.reload('oTable', {
	            page: {
	                curr: 1
	            }
	            , where: data.field
	        }, 'data');

	        return false;
		});
		
		table.on('toolbar(oList)', function(obj){
		     var checkStatus = table.checkStatus(obj.config.id);
		     switch(obj.event){
		        case 'checks':
		          var data = checkStatus.data;
		          layer.alert(JSON.stringify(data));
		        break;
		     };
		});
		
		table.on('tool(oList)', function(obj){
	        var data = obj.data;
	        
	        if(obj.event === 'edit'){
	        	layer.alert('edit');
	        }
	        if(obj.event === "delete"){
	        	layer.alert('delete');
	        }
	    });
		
		
		
		
	});
	</script>
	

</body>
</html>