<!DOCTYPE html>
<html>
<head>
	<#include "../layout/header.html">
    <style>
    </style>
</head>
<body>
	<div class="layuimini-container">
		<div class="layuimini-main">
			<!--搜索栏-->
			<fieldset class="layui-elem-field layuimini-search">
				<legend>搜索信息</legend>
	            <div class="layui-field-box">
			        <form class="layui-form">
			            <div class="layui-inline">
	                        <label class="layui-form-label">用户名</label>
	                        <div class="layui-input-inline">
	                            <input type="text" name="username" autocomplete="off" class="layui-input">
	                        </div>
	                    </div>
	                    <!--  
	                    <div class="layui-inline">
	                            <label class="layui-form-label">性别</label>
	                            <div class="layui-input-inline">
	                                <select name="sex" class="layui-input">
	                                	<option value=""> <span>全部</span></option>
				                        <option value="0"> <span>保密</span></option>
				                        <option value="1"> <span>男</span></option>
				                        <option value="2"> <span>女</span></option>
				                    </select>
	                            </div>
	                    </div>
	                    -->
	                        
	                    <div class="layui-inline">
	                        <a class="layui-btn" lay-submit="" lay-filter="data-search-btn">搜索</a>
	                    </div>
	                    <div class="layui-inline">
				                <a class="layui-btn layui-btn-normal" data-type="add">添加</a>
				        </div>
				        <div class="layui-inline">
				                <a class="layui-btn layui-btn-danger" data-type="delBatch">批量删除</a>
				        </div>
	                    
			            
			        </form>
			    </div>
	           
			</fieldset>
		    
			
	        
			<div class="layui-form">
				<!--  
				<table class="layui-hide" id="oTable" lay-filter="oList">
				</table>
				-->
				<table class="layui-hide" lay-data="" lay-filter="oList">
					<thead>
				    <tr>
				      <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
				      <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
				      <th lay-data="{field:'username', width:80}">用户名</th>
				      
				      <th lay-data="{fixed: 'right', minWidth:60, align:'center', toolbar: '#oBar'}">操作</th>
				    </tr>
				  	</thead>
				</table>
				
				<script type="text/html" id="oToolbar">
   					<div class="layui-btn-container">
						<button class="layui-btn layui-btn-sm" lay-event="getCheckData">获得选中行</button>
					</div>
				</script>
				
				<script type="text/html" id="oBar">
            		<a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            		<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="del">删除</a>
                </script>
			</div>
			
	        
	        
		
		</div>
	</div>

	<script type="text/javascript" src="${request.contextPath}/static/js/lib/layui/layui.js"></script>
	<script type="text/javascript" src="${request.contextPath}/static/js/config.js"></script>

	<!--  
	<script type="text/javascript" th:src="@{/static/js/system/user.js}"></script>-->
	<script type="text/javascript">
	layui.config({
		base : $config.context+"/static/js/extends/",
		version : true
	}).extend({
		"tool" : "tool",
		"api" : "api"
	}).use([ 'element', 'layer' ,'api',"table","form"], function() {
		var $ = layui.jquery, element = layui.element, layer = layui.layer,
	    api = layui.api,
	    table = layui.table,
        form = layui.form;
		
		/*表格*/
		/*
		table.render({
	        elem: '#oTable',
	        url: [[${table.url.url}]],
	        cellMinWidth: [[${table.cellMinWidth}]],
	        toolbar: '#oToolbar',
	        cols: [
	        	[
	            {type: "checkbox", width: 60, fixed: "left"},
	            {field: 'id', width: 80, title: 'ID', sort: true},
	            {field: 'username', width: 80, title: '用户名'},
	            
	            
	            {field: 'name', title: '真实姓名', width: 150},
	            {field: 'tel', width: 100, title: '手机号', sort: true},
	            
	            {field: 'sex', width: 80, title: '性别', sort: true,templet: function (d) {
		            	if(d.sex == 1) {
		                    return '<span class="layui-badge layui-bg-blue">男</span>';
		                } else if(d.sex == 2){
		                    return '<span class="layui-badge layui-bg-gray">女</span>';
		                }else if(d.sex == 0){
		                	return '<span class="layui-badge layui-bg-red">保密</span>';
		                }
	        		}
	            },
	            
	            {field: 'createTime', minWidth: 60, title: '注册时间'},
	            {title: '操作', minWidth: 60, templet: '#oBar', fixed: "right", align: "center"}
	        	]
	        ],
	        limits: [5,10, 15, 20, 25, 50, 100],
	        limit: 15,
	        page: true
	    });*/
	});
	</script>
	

</body>
</html>