<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta th:replace="admin/layout/header :: header"/>
	<style id="layuimini-bg-color">
    </style>
</head>
<body class="layui-layout-body layuimini-all">
	<div class="layui-layout layui-layout-admin">

	    <div class="layui-header header" th:replace="admin/layout/topnav :: topnav">
	        
	    </div>

	    <div class="layui-side layui-bg-black">
	        <div class="layui-side-scroll layui-left-menu">
	            
	        </div>
	    </div>

	    <div class="layui-body" th:replace="admin/layout/center :: center">
	        
	    </div>
	    

		
	</div>
	
	
	
	<!-- javascript -->
	<script type="text/javascript" th:src="@{/static/js/lib/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/config.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/index.js}"></script>
</body>
</html>