<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<#include "../layout/header.html">
	<style type="text/css">
        .layui-form-item .layui-inline{ min-width:15%; float:left; margin-right:0 }
        .layui-form-item .role-box {
            position: relative;
        }
    </style>
</head>
<body>
	<div class="layuimini-container">
		<div class="layuimini-main">
			<form class="layui-form">
				<input name="id" type="hidden" value="${role.id}">
			    
			    <div class="layui-form-item">
			    	<label class="layui-form-label">角色名称(<span style="color:red">*</span>)</label>
			        <div class="layui-input-block" style="width: 80%">
			            <input type="text" class="layui-input" name="name" style="margin-top: 30px;" value="${role.name}" lay-verify="required" placeholder="请想一个角色名称">
			        </div>
			    </div>
			    
			    
			    <div class="layui-form-item">
			    	<label class="layui-form-label">角色代号(<span style="color:red">*</span>)</label>
			        <div class="layui-input-block" style="width: 80%">
			            <input type="text" class="layui-input" name="code" style="margin-top: 30px;" value="${role.code}" lay-verify="required" placeholder="请想一个角色名称">
			        </div>
			    </div>
			    
			    
			    <div class="layui-form-item layui-form-text">
			    	<label class="layui-form-label">备注</label>
			        <div class="layui-input-block" style="width: 80%">
			            <textarea placeholder="..." name="remark" class="layui-textarea">${role.remark}</textarea>
			        </div>
			    </div>
			    
			
			    <div class="layui-form-item" style="padding-left: 30%;">
			        <div class="layui-input-block">
			            <button class="layui-btn" lay-submit="" lay-filter="editSubmit">保存</button>
			            <button class="layui-btn layui-btn-primary">取消</button>
			        </div>
			    </div>
				
			</form>
		</div>
	</div>
	
	<script type="text/javascript" src="${request.contextPath}/static/js/lib/layui/layui.js"></script>
	<script type="text/javascript" src="${request.contextPath}/static/js/config.js"></script>
	<script type="text/javascript" src="${request.contextPath}/static/js/system/roleEdit.js"></script>
	

</body>
</html>