<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudpaas.service.pas.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.cloudpaas.service.pas.model.User">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME ,AGE,PASSWORD 
	</sql>

    <insert id="insert_test" parameterType="com.cloudpaas.service.pas.model.User">
        insert into t_user (name)values(#{name,jdbcType=VARCHAR})
    </insert>

	<select id="select_test" parameterType="java.util.Map" resultMap="BaseResultMap">
	    select id,name from t_user
	</select>


</mapper>