<!DOCTYPE html>
<html>
<head>
	<#include "layout/header.html">
	<style id="layuimini-bg-color">
    </style>
</head>
<body class="layui-layout-body layuimini-all">
	<div class="layui-layout layui-layout-admin">

		<#include "layout/topnav.html">
	    

	    <div class="layui-side layui-bg-black">
	        <div class="layui-side-scroll layui-left-menu">
	            
	        </div>
	    </div>

	    <#include "layout/center.html">
	    

		
	</div>
	
	
	
	<!-- javascript -->
	<script type="text/javascript" src="${request.contextPath}/static/js/lib/layui/layui.js"></script>
	<script type="text/javascript" src="${request.contextPath}/static/js/config.js"></script>
	<script type="text/javascript" src="${request.contextPath}/static/js/index.js"></script>
</body>
</html>