		<div class="layui-body" th:fragment="center">
	        <div class="layui-tab" lay-filter="layuiminiTab" id="top_tabs_box">
	            <ul class="layui-tab-title" id="top_tabs">
	                <li class="layui-this" id="layuiminiHomeTabId" lay-id="">
	                    <i class="fa fa-home"></i><span>首页</span>
	                </li>
	            </ul>
	            <ul class="layui-nav closeBox">
	                <li class="layui-nav-item">
	                    <a href="javascript:;"> <i class="fa fa-dot-circle-o"></i> 页面操作</a>
	                    <dl class="layui-nav-child">
	                        <dd><a href="javascript:;" data-page-close="other"><i class="fa fa-window-close"></i> 关闭其他</a></dd>
	                        <dd><a href="javascript:;" data-page-close="all"><i class="fa fa-window-close-o"></i> 关闭全部</a></dd>
	                    </dl>
	                </li>
	            </ul>
	            <div class="layui-tab-content clildFrame">
	                <div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show">
	                	<iframe width="100%" height="100%" frameborder="0"  th:src="@{/main/main.html}"></iframe>
	                </div>
	            </div>
	        </div>
	    </div>