        <div class="layui-header header" >
	        <div class="layui-logo">
	            <a href="#">
	            	<img src="${request.contextPath}/static/images/logo.png" alt="logo" />
	            	<h1>基础后台管理</h1>
	            </a>
	        </div>
	        <a href="javascript:;">
	            <div class="layuimini-tool"><i title="展开" class="fa fa-outdent" data-side-fold="1"></i></div>
	        </a>
	
	        <ul class="layui-nav layui-layout-left layui-header-menu layui-header-pc-menu mobile layui-hide-xs">
	        </ul>
	        <ul class="layui-nav layui-layout-left layui-header-menu mobile layui-hide-sm">
	            <li class="layui-nav-item">
	                <a href="javascript:;"><i class="fa fa-list-ul"></i> 选择模块</a>
	                <dl class="layui-nav-child layui-header-mini-menu">
	                </dl>
	            </li>
	        </ul>
	
	        <ul class="layui-nav layui-layout-right">
	            <li class="layui-nav-item">
	                <a href="javascript:;" data-refresh="刷新"><i class="fa fa-refresh"></i></a>
	            </li>
	            <li class="layui-nav-item">
	                <a href="javascript:;" data-clear="清理" class="layuimini-clear"><i class="fa fa-trash-o"></i></a>
	            </li>
	            <li class="layui-nav-item layuimini-setting">
	                <a href="javascript:;" >${username}</a>
	                <dl class="layui-nav-child">
	                    <dd>
	                        <a href="javascript:;" data-iframe-tab="" data-title="基本资料" data-icon="fa fa-gears">基本资料</a>
	                    </dd>
	                    <dd>
	                        <a href="javascript:;" data-iframe-tab="" data-title="修改密码" data-icon="fa fa-gears">修改密码</a>
	                    </dd>
	                    <dd>
	                        <a href="javascript:;" class="login-out">退出登录</a>
	                    </dd>
	                </dl>
	            </li>
	            <li class="layui-nav-item layuimini-select-bgcolor mobile layui-hide-xs">
	                <a href="javascript:;" data-bgcolor="配色方案"><i class="fa fa-ellipsis-v"></i></a>
	            </li>
	        </ul>
	    </div>