<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>CLOUD PAAS 云平台</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="${request.contextPath}/static/favicon.ico">  
    <!-- Global CSS -->
    <link rel="stylesheet" href="${request.contextPath}/static/home/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="${request.contextPath}/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="${request.contextPath}/static/home/plugins/flexslider/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="${request.contextPath}/static/home/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 
<body class="home-page">

	<header id="header" class="header navbar-fixed-top">  
        <div class="container">       
            <h1 class="logo">
                <a href="${request.contextPath}/home/index.html"><span class="text">CPAAS</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="${request.contextPath}/home/index.html">首页</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">文档<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">接口文档</a></li>
                                <li><a href="#">开发手册</a></li>              
                            </ul>                            
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">下载<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">前端演示源码</a></li>
                                <li><a href="#">后端演示源码</a></li>                 
                            </ul>                            
                        </li><!--//dropdown-->                         
                        <li class="nav-item"><a href="${request.contextPath}/login.html">登录</a></li>
                        <!--  
                        <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="signup.html">Sign Up Free</a></li>
                        -->
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div>
    
    <section class="promo section section-on-bg">
        <div class="container text-center">                
            <h2 class="title">新一代云平台<br />Cloud PaaS</h2>
            <!--  
            <p class="intro"><br /></p>
            <p><a class="btn btn-cta btn-cta-primary" href="#">login</a></p>-->
            <!-- 
            <button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" ><i class="fa fa-youtube-play"></i> 观看视频</button>-->
        </div><!--//container-->
    </section>
    
    <div class="sections-wrapper">   
    
    	<section id="why" class="section why">
    		<div class="container">
    			<h2 class="title text-center">基础平台</h2>
    			<div class="row item">
                    <div class="content col-xs-12 col-md-4">
                        <h3 class="title">基础平台是干什么的？</h3>
                        <div class="desc">
                            <p>管理整个集群的基础信息</p>
                            <p>如：运维，监控，接入鉴权等</p>
                        </div>
                        <div class="quote">
                            <div class="quote-profile">
                                <img class="img-responsive img-circle" src="${request.contextPath}/static/home/images/people/people-1.png" width="70" height="70" alt="" />
                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p>
                                 	<a href="" target="_blank">单机模式需要基础平台吗？</a>不需要，单机部署只需要绩效应用，基础平台的系统管理部分会迁入绩效应用中。 
                                </p></blockquote>
                                <p class="source">@tiancom</p>
                            </div>
                            <!--//quote-content-->                                     
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    <figure class="figure col-md-offset-1 col-sm-offset-0 col-xs-offset-0 col-xs-12 col-md-7">
                        <img class="img-responsive" src="${request.contextPath}/static/home/images/figures/cpaas-1.png" alt="" />
                        <figcaption class="figure-caption">(图-01) </figcaption>
                    </figure>
                </div>
    		</div>
    	</section>
    </div>
    
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">                    
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">关于我们</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>关于我们</a></li>
                                
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->    
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">产品</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>如何工作</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>API</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>下载  demo</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->              
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                        <div class="footer-col-inner">
                            <h3 class="title">支持</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>帮助</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>团队</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
                    
                    <div class="clearfix"></div> 
                </div><!--//row-->
                
            </div><!--//container-->
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">...</small>                
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->


	<!-- Javascript -->          
    <script type="text/javascript" src="${request.contextPath}/static/home/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="${request.contextPath}/static/home/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="${request.contextPath}/static/home/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="${request.contextPath}/static/home/js/back-to-top.js"></script>
    <script type="text/javascript" src="${request.contextPath}/static/home/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="${request.contextPath}/static/home/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="${request.contextPath}/static/home/plugins/flexslider/jquery.flexslider-min.js"></script>     
    <script type="text/javascript" src="${request.contextPath}/static/home/js/main.js"></script>
    
    <!-- Vimeo video API -->
    <script src="${request.contextPath}/static/home/js/froogaloop2.min.js"></script>
    <script type="text/javascript" src="${request.contextPath}/static/home/js/vimeo.js"></script> 

</body>
</html>
